:root {
  --green: #7eb101;
  --lime: #bbf330;
  --black: #2c2c2c;
  --grey: #f5f5f5;
  --placeholder: #c4c4c4;
  --white: #fefefe;
  --button-color: rgb(188, 26, 26);
  --button-color-hover: rgb(88, 11, 11);
  --red: #ff0000;
  --backdrop: rgba(94, 99, 99, 0.7);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*responsive css styles*/
.body {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  background-color: #fff;
}
.body.lock {
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0px 20px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 100px 0px;
}

/*----------------------------------------------- TYPOGRAPHY */
.title-wrapp {
  display: inline-block;
  width: 100%;
}

.title-wrapp > * {
  margin-top: 20px;
}

.title-wrapp > *:first-child {
  margin-top: 0px;
}

.title.title--h1 {
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .title.title--h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .title.title--h1 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .title.title--h1 {
    font-size: 64px;
  }
}
.title.title--h2 {
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .title.title--h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .title.title--h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .subtitle {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 20px;
  }
}

/*----------------------------------------------- PRELOADER*/
.preloader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 9999;
  background: #eee;
  transition: opacity 600ms var(--cubic), visibility 600ms var(--cubic);
}
.preloader.is--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader__procent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
}
.preloader__procent p {
  position: relative;
  font-size: 58px;
  z-index: 2;
}
.preloader__procent .preloader__svg {
  display: block;
  position: absolute;
  z-index: 1;
  width: 0%;
  height: 20px;
  border-radius: 4px;
  left: 0;
  bottom: 0;
  transition: width 250ms var(--cubic) 0s;
  background: lime;
}

/*----------------------------------------------- HEADER*/
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #ccc;
  padding: 14px 0px;
  z-index: 20;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}
@media screen and (max-width: 767px) {
  .header .container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .header .container {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .header .close-area {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header .close-area {
    display: none;
  }
}

.logo svg {
  display: block;
  fill: currentColor;
}

.menu-backdrop {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .menu-backdrop {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--cubic) 350ms, visibility 250ms var(--cubic) 350ms;
  }
  .menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  }
  .menu-backdrop.is-open .menu-body {
    transform: translate(0%, 0%);
  }
}

.menu-body {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.menu-body .closeBtn {
  right: 4px;
  top: 4px;
}
@media screen and (max-width: 767px) {
  .menu-body {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 380px;
    max-width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    background: var(--white);
    box-shadow: 0px 0px 24px rgba(105, 105, 105, 0.5);
    transform: translate(101%, 0%);
    transition: transform 600ms var(--cubic);
  }
}
@media screen and (min-width: 768px) {
  .menu-body {
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    margin: 0 auto;
    padding: 0px 40px;
    width: auto;
  }
  .menu ul {
    display: flex;
    flex-wrap: wrap;
  }
}
.menu .menu__item a {
  display: block;
  position: relative;
  color: var(--black);
}
@media screen and (max-width: 767px) {
  .menu .menu__item a {
    font-size: 16px;
    line-height: 1.171875;
    background: rgba(0, 0, 0, 0);
    transition: background 250ms var(--cubic);
    padding: 16px;
  }
  .menu .menu__item a:hover, .menu .menu__item a:focus, .menu .menu__item a:active {
    background: var(--lime);
  }
}
@media screen and (min-width: 768px) {
  .menu .menu__item a {
    font-size: 14px;
    line-height: 1.1428;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: color 250ms var(--cubic), border-bottom 250ms var(--cubic);
  }
  .menu .menu__item a:hover, .menu .menu__item a:focus, .menu .menu__item a:active {
    color: var(--lime);
    border-bottom: 1px solid var(--lime);
  }
}
@media screen and (min-width: 768px) {
  .menu .menu__item {
    margin-right: 28px;
  }
  .menu .menu__item:last-child {
    margin-right: 0px;
  }
}

.burger {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 36px;
  height: 26px;
  cursor: pointer;
}
.burger:before, .burger:after,
.burger span {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: var(--black);
  transition: 600ms var(--cubic);
}
.burger span {
  opacity: 1;
  transform: translate(0%, 0%);
}
.burger:before {
  transform: rotate(0deg) translate(0%, 10px);
}
.burger:after {
  transform: rotate(0deg) translate(0%, -10px);
}
.burger.is-open span {
  opacity: 0;
  transform: translate(100%, 0%);
}
.burger.is-open:before {
  transform: rotate(45deg) translate(0%, 0%);
}
.burger.is-open:after {
  transform: rotate(-45deg) translate(0%, 0%);
}
@media screen and (max-width: 767px) {
  .burger {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.closeBtn {
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 6;
  color: var(--black);
}
.closeBtn svg {
  fill: currentColor;
}

.close-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.formBox {
  display: block;
  max-width: 600px;
  margin: 50px auto;
}

/*----------------------------------------------- BUTTONS*/
.forBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.forBtn.ta--c {
  justify-content: center;
}
.forBtn.ta--r {
  justify-content: flex-end;
}

.button {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid var(--button-color);
  background: var(--button-color);
  color: #fff;
  transition: 250ms var(--cubic);
  cursor: pointer;
}
.button:hover, .button:focus {
  border: 1px solid var(--button-color-hover);
  background: var(--button-color-hover);
}
.button.big {
  padding: 11px 22px;
  font-weight: 500;
}
.button:disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}

/*----------------------------------------------- FOOTER*/
.footer {
  width: 100%;
  background: #313131;
  color: #fff;
  padding: 80px 0px;
}

/*-----------------------------FORMS*/
.form {
  position: relative;
}

.label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  text-align: left;
}

.label:first-child {
  margin-top: 0px;
}

.label__text,
.fieldset__title {
  display: inline-block;
  height: auto;
  position: relative;
  font-size: 16px;
  margin-bottom: 6px;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*input text & textarea*/
.input {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 1.25;
  padding: 0px 20px;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  outline: none;
  transition: border 250ms var(--cubic);
}
.input.input--icon {
  padding-left: 40px;
}
.input.red {
  border: 1px solid var(--red) !important;
  color: var(--red);
}
.input.red + .label__icon {
  fill: var(--red) !important;
}
.input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--placeholder);
  -moz-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
  opacity: 1;
}
.input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--placeholder);
  -ms-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
  opacity: 1;
}
.input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--placeholder);
  transition: opacity 250ms var(--cubic);
  opacity: 1;
}
.input:focus {
  border: 1px solid rgb(50, 156, 50);
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}
.input:focus + .label__icon {
  fill: rgb(50, 156, 50);
}
.input.valid {
  border: 1px solid rgb(50, 156, 50);
}
.input.valid + .label__icon {
  fill: rgb(50, 156, 50);
}
.input:-webkit-autofill {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
  -webkit-text-fill-color: #000000 !important;
  color: #000000 !important;
}

.label__icon {
  display: block;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--placeholder);
  transition: fill 250ms var(--cubic);
}

/*textarea*/
.input--textarea {
  display: block;
  height: 120px;
  resize: none;
}

/*checkbox and radio*/
.fieldset {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 24px;
  align-items: center;
  gap: 20px 30px;
}
.fieldset .fieldset__title {
  margin-bottom: 14px;
}
.fieldset .label {
  margin: 0;
}
.fieldset .label.full {
  width: 100%;
}
.fieldset .label__text {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  color: var(--black);
  transform: translateY(0px);
  cursor: pointer;
}
.fieldset .label__text:before, .fieldset .label__text:after {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  transition: 250ms var(--cubic);
  cursor: pointer;
}
.fieldset .label__text:before {
  position: relative;
  margin-right: 10px;
  border: 1px solid var(--black);
}
.fieldset .label__text:after {
  position: absolute;
  background: green;
  transform: scale(0);
}

.fieldset .label--radio .label__text:before,
.fieldset .label--radio .label__text:after {
  border-radius: 20px;
}

.checkbox,
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:checked + .label__text:before,
.radio:checked + .label__text:before {
  border: 1px solid green;
}
.checkbox:checked + .label__text:after,
.radio:checked + .label__text:after {
  transform: scale(0.6);
}
.checkbox.red + .label__text:before,
.radio.red + .label__text:before {
  border: 1px solid var(--red);
}

.label__error {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  transform-origin: center top;
  height: 0px;
  left: 0px;
  top: 4px;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  color: var(--red);
  transition: 250ms var(--cubic);
  transform: scaleY(0);
}
.label__error.active {
  height: 16px;
  transform: scaleY(1);
}

/*-------------------- MODAL POPUP*/
.backdrop {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: var(--backdrop);
  z-index: 98;
  opacity: 1;
  visibility: visible;
  transition: 250ms var(--cubic);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  visibility: visible;
  z-index: 99;
  transition: opacity 0s linear 0s, visibility 0s linear 0s, pointer-events 0s linear 0s;
}
.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s linear 250ms, visibility 0s linear 250ms, pointer-events 0s linear 250ms;
}
.modal.is-hidden .popup {
  opacity: 0;
  transform: translate(0px, 10px);
}
.modal .popup__body {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  position: relative;
}
.modal .popup {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  background: #fff;
  padding: 40px 30px;
  opacity: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate(0px, 0px);
  transition: opacity 250ms var(--cubic), transform 250ms var(--cubic);
}
.modal .popup .button {
  margin-top: 32px;
  min-width: 110px;
}
@media screen and (max-width: 419px) {
  .modal .popup {
    padding: 32px 16px;
  }
}

.popup__close {
  display: flex;
  position: absolute;
  right: 12px;
  top: 12px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #000;
  color: var(--black);
  cursor: pointer;
  outline: none;
  transition: 350ms var(--cubic);
  transform: rotate(0deg);
  will-change: transform;
}
.popup__close:before, .popup__close:after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 2px;
  background: #000;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup__close:hover, .popup__close:focus, .popup__close:active {
  transform: rotate(90deg);
}

.popup-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 14px;
}

.popup-subtitle {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 32px;
}

#loading .popup {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  transform: translate(0px, 0px);
}
#loading .popup:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  -webkit-animation: 800ms linear 0s infinite rotate;
          animation: 800ms linear 0s infinite rotate;
}

.slider-arrow {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0%, -50%);
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  z-index: 2;
  color: var(--black);
  transition: 250ms var(--cubic);
  cursor: pointer;
}
.slider-arrow svg {
  fill: currentColor;
}
.slider-arrow:hover {
  color: var(--green);
}
.slider-arrow:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 1279px) {
  .slider-arrow {
    width: 34px;
    height: 28px;
    border-radius: 4px;
  }
  .slider-arrow svg {
    width: 11.49px;
    height: 20.34px;
  }
  .slider-arrow.slider-arrow--left {
    left: -32px;
  }
  .slider-arrow.slider-arrow--right {
    right: -32px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-arrow {
    width: 48px;
    height: 40px;
    border-radius: 8px;
  }
  .slider-arrow.slider-arrow--left {
    left: -42px;
  }
  .slider-arrow.slider-arrow--right {
    right: -42px;
  }
}

/*rotate [animation: 4s linear 0s infinite alternate rotate] */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate-animation {
  -webkit-animation: 4s linear 0s infinite rotate;
          animation: 4s linear 0s infinite rotate;
}

/*standatr animations*/
.animation {
  opacity: 0;
  transition: 0.8s cubic-bezier(0.14, 0.03, 0.02, 0.87) 0s;
}
.animation.anim--top {
  transform: translate(0px, -20px);
}
.animation.anim--bottom {
  transform: translate(0px, 20px);
}
.animation.anim--right {
  transform: translate(20px, 0px);
}
.animation.anim--left {
  transform: translate(-20px, 0px);
}
.animation.animate {
  transform: translate(0px, 0px);
  opacity: 1;
}