.body {
   display: inline-flex;
   flex-wrap: wrap;
   align-content: space-between;
   width: 100%;
   height: auto;
   min-height: 100vh;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 1.2;
   font-weight: 400;
   background-color: #fff;

   &.lock {
      overflow-x: hidden;
      overflow-y: hidden;
   }
}

.container {
   position: relative;
   margin: 0 auto;
   padding: 0px 20px;
   @media screen and (max-width: 767px) {
      max-width: 480px;
   }
   @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 768px;
   }
   @media screen and (min-width: 1280px) {
      max-width: 1280px;
   }
}

.section {
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;
   padding: 100px 0px;
}
