/*----------------------------------------------- HEADER*/

.header {
   position: fixed;
   left: 0px;
   top: 0px;
   background-color: #ccc;
   padding: 14px 0px;
   z-index: 20;
   width: 100%;
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1280px;
      @media screen and (max-width: 767px) {
         flex-wrap: wrap;
      }
      @media screen and (min-width: 768px) {
         flex-wrap: nowrap;
      }
   }
   .close-area {
      @media screen and (max-width: 767px) {
         display: block;
      }
      @media screen and (min-width: 768px) {
         display: none;
      }
   }
}

.logo svg {
   display: block;
   fill: currentColor;
}

.menu-backdrop {
   width: 100%;
   @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0;
      overflow-x: hidden;
      overflow-y: auto;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 250ms var(--cubic) 350ms, visibility 250ms var(--cubic) 350ms;
      &.is-open {
         opacity: 1;
         visibility: visible;
         pointer-events: all;
         transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
         .menu-body {
            transform: translate(0%, 0%);
         }
      }
   }
}

.menu-body {
   display: flex;
   flex-wrap: wrap;
   height: auto;
   .closeBtn {
      right: 4px;
      top: 4px;
   }
   @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 20px 20px 20px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      min-height: 380px;
      max-width: 380px;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 1;
      background: var(--white);
      box-shadow: 0px 0px 24px rgba(105, 105, 105, 0.5);
      transform: translate(101%, 0%);
      transition: transform 600ms var(--cubic);
   }
   @media screen and (min-width: 768px) {
      justify-content: flex-end;
      align-items: center;
   }
}

.menu {
   @media screen and (max-width: 767px) {
      width: 100%;
   }
   @media screen and (min-width: 768px) {
      margin: 0 auto;
      padding: 0px 40px;
      width: auto;
      ul {
         display: flex;
         flex-wrap: wrap;
      }
   }
   .menu__item {
      a {
         display: block;
         position: relative;
         color: var(--black);
         @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 1.171875;
            background: rgba(0, 0, 0, 0);
            transition: background 250ms var(--cubic);
            padding: 16px;
            &:hover,
            &:focus,
            &:active {
               background: var(--lime);
            }
         }
         @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.1428;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            transition: color 250ms var(--cubic), border-bottom 250ms var(--cubic);
            &:hover,
            &:focus,
            &:active {
               color: var(--lime);
               border-bottom: 1px solid var(--lime);
            }
         }
      }
      @media screen and (min-width: 768px) {
         margin-right: 28px;
         &:last-child {
            margin-right: 0px;
         }
      }
   }
}

.burger {
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 3;
   width: 36px;
   height: 26px;
   cursor: pointer;
   &:before,
   &:after,
   span {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: var(--black);
      transition: 600ms var(--cubic);
   }
   span {
      opacity: 1;
      transform: translate(0%, 0%);
   }
   &:before {
      transform: rotate(0deg) translate(0%, 10px);
   }
   &:after {
      transform: rotate(0deg) translate(0%, -10px);
   }
   &.is-open {
      span {
         opacity: 0;
         transform: translate(100%, 0%);
      }
      &:before {
         transform: rotate(45deg) translate(0%, 0%);
      }
      &:after {
         transform: rotate(-45deg) translate(0%, 0%);
      }
   }
   @media screen and (max-width: 767px) {
      display: flex;
   }
   @media screen and (min-width: 768px) {
      display: none;
   }
}

.closeBtn {
   width: 24px;
   height: 24px;
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 6;
   color: var(--black);
   svg {
      fill: currentColor;
   }
}

.close-area {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
}
